.container {
    padding-top: 30px;
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    justify-content: center;
    flex: 1;
    color: black;
    margin-left: 400px;
    padding-top: 20px;
    padding-right: 25px;
    /* background-color: red; */
}

.right {
    flex: 3;
    color: black;
    /* margin-right: 100px; */
    /* margin-left: 100px; */
    margin-right: 400px;
    /* justify-content: center; */
    /* background-color: blue; */
}

.myimage {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

a:hover {
    color: rgb(28, 115, 153);
    /* Color on hover */
}

a {
    text-decoration: none;
    color: black;

}

.resume-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    margin-left: 70px;
    /* Blue color */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}


ion-icon {
    padding-left: 20px;
    align-items: center;
    font-size: 30px;
}

.icon-face {
    color: rgb(9, 164, 195);
}

.icon-git {
    color: rgb(30, 75, 0);
}

.icon-linked {
    /* align-items: center; */
    color: rgb(14, 59, 174);
}

.icon-mail {
    color: rgb(176, 29, 29);
}

/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Stack sections vertically */
/* height: auto;
Remove the fixed height
}

*/
.left-section,
.right-section {
    flex: none;
    /* Reset the flex sizes so they take up full width */
    width: 100%;
    margin-left: 200px;
    margin-left: 200px;
    background-color: blue;
    /* Each section takes full width when stacked */

}